* {
  margin: 0;
  padding: 0;
}
/* global style */
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
/* website button design */
.btn-primary {
  width: 220px;
  height: 68px;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: 0.4s;
}
.btn-primary:hover {
  background-color: #fff;
  color: #e55473;
  font-weight: 900;
  border: 2px solid #e55473;
  border-radius: 8px;
}
.primary {
  color: #e55473;
}
/* header styling section */
.header-section {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
  background-position: center;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 110px;
  margin: 0 200px;
}
.header-title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
  text-align: left;
}
.header-description {
  padding-top: 32px;
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  padding-bottom: 32px;
}
.header-img {
  width: 635px;
  height: 800px;
}
.feature-flower {
  padding-top: 178px;
  width: 80%;
  margin: auto;
  /* margin auto helps elements to be horizontally centered */
  text-align: center;
}
.feature-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 48px;
}
.flower-boxes-container {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  padding-left: 20px;
}
.box1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.ff1 {
  padding-top: 110px;
  width: 310px;
  height: 428px;
}
.box2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.ff2 {
  width: 370px;
  height: 370px;
  padding-top: 110px;
}
.box3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.ff3 {
  width: 314px;
  height: 471px;
  padding-top: 67.5px;
}

.ff-text-container {
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 32px;
  gap: 290px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
}
/* service related styling */

.service-container {
  margin-top: 132px;
  background-color: red;
  color: #fff;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.all-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 86px 50px;
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-size: 24px;
}
/* offer box styling */

.offer-box-container {
  margin-top: 128px;
  width: 100%;
  height: 50vh;
  background-size: cover;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.offer-box-whole {
  display: flex;
  gap: 350px;
  align-items: center;
  margin: 0 200px;
  text-align: center;
}

.offer-title {
  width: 547px;
  height: 64px;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: left;
}

.offer-info {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  padding-bottom: 25px;
  font-weight: 400;
}
.offer-picture {
  width: 318px;
  height: 420px;
  padding-bottom: 50px;
}

/* instagram section styling */
.instagram-container {
  width: 80%;
  margin: auto;
  background-color: #fff;
  text-align: center;
  margin-top: 128px;
  display: flex;
  justify-content: center;
}
.insta-box {
  width: 342px;
  height: 396px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding-left: 210px;
  padding-right: 250px;
  padding-bottom: 120px;
}
/* pakages styling */
.pakage-container {
  padding-top: 120px;
  margin: auto;
  width: 80%;
  height: 100vh;
  background: #f9f5f6;
  margin-bottom: 128px;
}
.pakage-title {
  font-size: 55px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding-bottom: 50px;
}
.pakage-boxes {
  display: flex;
  justify-content: space-around;
  gap: 90px;
}

.pakage {
  width: 350px;
  height: 700px;
  border: 2px solid rgba(255, 255, 255, 0.03);
  background-color: #f8e8ee;
  border-radius: 8px;
  box-shadow: 4px 8px 4px grey;
  cursor: pointer;
}

.package-title {
  font-size: 55px;
  font-weight: 900;
  text-align: center;
  color: #e55473;
  padding-bottom: 20px;
}
small {
  font-size: 16px;
  color: #272727;
}
.listing {
  list-style: none;
  text-decoration: none;
  text-align: center;
}
li {
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 600;
}
.list-buuton {
  margin-top: 20px;
  margin-left: 70px;
}
/* subscribe banner styling */
.main-banner-box {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.banner-container {
  width: 1440px;
  height: 449px;
  background-image: url("../flower-asset/subs-bg.png");

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 220px;
}
.banner-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 12px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 48px;
}
.email-subscribe {
  display: flex;
  gap: 16px;
}
.email-text {
  padding-left: 21px;
  width: 700px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #e55473;
  font-size: 16px;
  font-weight: 400;
}
/* footer styling */
.footer-container {
  width: 100%;
  height: 449px;
  margin-top: 128px;
  background-color: #111010;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 24px;
}
.footer-description {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}
.footer-end {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
